// vars
$pink: #6c89c8;
$blue: rgb(95, 92, 158);
// settings
@import "settings/mixins.scss";
@import "settings/common.scss";

// blocks
@import "blocks/header.scss";
@import "blocks/hero.scss";
@import "blocks/titles.scss";
@import "blocks/services.scss";
@import "blocks/akcii.scss";
@import "blocks/advantages.scss";
@import "blocks/advice.scss";
@import "blocks/form.scss";
@import "blocks/specialists.scss";
@import "blocks/news.scss";
@import "blocks/footer.scss";
@import "blocks/modals.scss";
@import "blocks/contacts.scss";
@import "blocks/about.scss";
@import "blocks/service.scss";
@import "blocks/reviews.scss";
@import "blocks/warranty.scss";
@import "blocks/prices.scss";
@import "blocks/services-page.scss";
@import "blocks/doctors-page.scss";
@import "blocks/doctors-detail.scss";
@import "blocks/portfolio.scss";
@import "blocks/docs.scss";
@import "blocks/news-page.scss";

.ml-0{
    margin-left: 0;
}