.about,.why-we,.docs{
    background: #f6f9ff;
}
.about-slider{
    padding-top: 0;
    padding-bottom: 0;
}
.docs-slier{
    position: relative;
}
.docs-slider__list{
    margin-bottom: 20px;
}
.slider-buttons--about{
    position: static;
    justify-content: center;
}
.about-slider__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include tablets{
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include phones{
        grid-template-columns: 1fr 1fr;
    }
}
.about-slider__img{
    margin: -2px;
}