.doctors-page{
    padding-bottom: 0;
}
.our-photo{
    height: 500px;
}
.doctor__item{
    display: flex;
    margin-bottom: 30px;
    @include phones{
        flex-direction: column;
    }
}
.doctor__item-col{
    &:first-child{
        width: 30%;
         @include phones{
        width: 100%;
    }
    }
    &:last-child{
        width: 70%;
         @include phones{
        width: 100%;
    }
    }
   
}
.doctor-name--blue{
    color: $blue;
    margin-bottom: 0;
    div{
        &:last-child{
            font-size: 16px;
        }
    }
}
.doctor-desc{
    color: $blue;
}