.header__top{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #7289c8;
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    &:hover{
        transition: .2s;
        opacity: 0.8;
    }
    @include laptop{
        display: none;
    }
}
.menu-svg{
    width: 30px;
    height: 30px;
    fill: #b077bb;
}
.nav-list{
    display: flex;
    @include laptop{
        display: none;
    }
}
.nav-list--active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 103vh;
    background: #fff;
    z-index: 100;
    .nav-item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .nav__link{
        color: #5f5c9e;
    }
}
.nav-item{
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
}
.nav__link{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.tel-number{
    color: #fff;
    font-size: 20px;
    @include phones{
        font-size: 14px;
        display: none;
    }
}
.call-button{
    padding: 13px 20px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 7px;
    color: $pink;
    transition: .2s;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        transition: .2s;
        background: transparent;
        color: #fff;
        border-color: #fff;
    }
    @include phones{
        padding-top: 9px;
        padding-bottom: 9px;
    }
}
.header__bottom{
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(246,249,255);
}
.header-bottom-row{
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    @include phones{
       justify-content: space-between;
    }
}
.logo{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    @include phones{
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.logo-text{
    text-align: end;
    font-size: 12px;
    @include phones{
        text-align: left;
        display: none;
    }
}
.adress{
    display: flex;
    align-items: center;
}
.adress__icon{
    margin-right: 5px;
}
.location{
    width: 20px;
    height: 20px;
    fill: $pink;
    @include phones{
        width: 10px;
        height: 10px;
    }
}
.adress__text{
    font-size: 18px;
    @include phones{
        font-size: 12px;
    }
}
.mobile-menu-button{
    display: none;
    padding: 9px 15px;
    border: 1px solid hsla(0,0%,100%,.5);
    border-radius: 25px;
    width: 132px;
    @include laptop{
        display: flex;
        align-items: center;
    }
    @include phones{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.menu-svg_fill_white{
    fill: #fff;
    margin-right: 5px;
}
.mobile-menu-button__text{
    color: #fff;
    font-weight: 600;
}
.nav-item--phone{
    display: none;
    @include phones{
        display: block;
        margin-top: 10px;
    }
}
.phone{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone-svg{
    width: 20px;
    height: 20px;
    fill: #5f5c9e;
}
.logo-img{
    max-width: 120px;
    @include phones{
        width: 80px;
    }
}
.close--nav{
    display: none;
    z-index: 5;
    top: 5px;
    right: 10pxd;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    fill: #5f5c9e;
}
.f-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}