.reviews{
    background: #eef2ff;
}
.reviews__content{
    display: flex;
    @include laptop{
        flex-direction: column;
    }
}
.reviews__col{
    width: 50%;
    &:first-child{
        margin-bottom: 40px;
    }
    &:last-child{
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include laptop{
            align-items: flex-start;
            padding-left: 0;
        }
    }
    @include laptop{
        width: 100%;
    }
}
.doctors-slider__ava--small{
    width: 100px;
    height: 100px;
}
.doctors-slider__content--pl{
    padding-left: 56px;
    margin-bottom: 20px;
}
.reviews__link{
    margin-left: 56px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .8px;
    color: #b376bb;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dotted #b376bb;
    display: inline-block;
    &:hover{
        border-bottom: 1px dotted transparent;
    }
}
.reviews-slider__item{
    padding-left: 80px;
    @include laptop{
        padding-left: 0;
    }
}
.reviews-slider{
    margin-bottom: 30px;
    max-width: 500px;
    @include laptop{
        max-width: 100%;
    }
}
.reviews-slider__content{
    padding: 40px;
    max-width: 400px;
    border-radius: 40px;
    background: #fff;
    position: relative;
    @include laptop{
        max-width: 100%;
    }
}
.reviews-slider__ava{
    width: 120px;
    height: 120px;
    border-radius: 60% 40% 40% 60%/50% 50% 50% 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: -60px;
    display: none;
}
.reviews-slider__title{
    margin-bottom: 30px;
    color: #5f5c9e;
    font-size: 16px;
}
.reviews-slider__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.reviews-slider__col{
    div{
        &:first-child{
            margin-bottom: 15px;
            font-size: 14px;
            color: #8b86ad;
        }
        &:last-child{
            font-size: 16px;
            color: #7d77a6;
        }
    }
}
.reviews-slider__photos{
    display: flex;
    @include phones{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}
.reviews-slider__photo-wrap{
    margin-right: 16px;
    &:last-child{
        margin-right: 0;
    }
}
.reviews-slider__photo{
    width: 84px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.slider-buttons--reviews{
    position: static;
    align-self: center;
}
