.title{
    font-family: 'Merriweather';
    font-size: 38px;
}
.section-title{
    font-size: 50px;
    font-family: 'Merriweather';
    color: $blue;
    text-align: center;
    margin-bottom: 30px;
}
.section-title-s{
    font-family: 'Merriweather';
    color: $blue;
    margin-bottom: 30px;
    font-size: 36px;
}
.section-title-s-mb-50{
    margin-bottom: 50px;
}
.section-title-s_white{
    color: #fff;
}